<div class="grocery-item-container container row">
  <div class="grocery-item-name col-md" [hidden]="editing">{{name}}</div>
  <div class="grocery-item-name col-md" [hidden]="!editing">
    <input type="text" [ngModel]="name" (change)="onChangeName($event)">
  </div>
  <div class="grocery-item-amount col-1" [hidden]="editing">{{amount}}</div>
  <div class="grocery-item-name col-1" [hidden]="!editing">
    <input type="number" [ngModel]="amount" (change)="onChangeAmount($event)">
  </div>
  <div class="grocery-item-desc col-4" [hidden]="editing">{{desc}}</div>
  <div class="grocery-item-name col-4" [hidden]="!editing">
    <input type="text" [ngModel]="desc" (change)="onChangeDesc($event)">
  </div>
  <div class="grocery-item-low col-md" [hidden]="editing">{{low}}</div>
  <select class="grocery-item-low col-md" [hidden]="!editing" [ngModel]="low" (change)="onChangeLow($event)">
    <option class="grocery-item-low-true">True</option>
    <option class="grocery-item-low-false">False</option>
  </select>
  <button class="edit-grocery-item-btn btn col-md" (click)="onClickEdit()" [hidden]="editing">Edit Item</button>
  <button class="delete-grocery-item-btn btn col-md" (click)="onClickDelete()" [hidden]="editing">Delete Item</button>
  <button class="save-grocery-item-btn btn col-md" (click)="onClickSave()" [hidden]="!editing">Save</button>
</div>
