<h1>Grocery App</h1>
<button class="logout-btn btn" [hidden]="currentUser === undefined"
(click)="onClickLogout()">Log Out</button>
<!--<app-login class="login" [hidden]="currentUser !== undefined && currentUser !== null" [clickLogin]="onClickLogin"></app-login>-->
<!--<div class="create-grocery container" [hidden]="currentUser === undefined || currentUser === null">-->
<!--  <app-create-grocery class="create-grocery" [addGrocery]="addGrocery"></app-create-grocery>-->
<!--</div>-->
<!--<div class="grocery-list container" [hidden]="currentUser === undefined || currentUser === null">-->
<!--  <app-grocery-list [groceryList]="groceryList" [deleteGrocery]="deleteGrocery"></app-grocery-list>-->
<!--</div>-->
<nav>
<!--  <div><a routerLink="/login" routerLinkActive="active"-->
<!--          [hidden]="currentUser._id.length > 0">log in</a></div>-->
  <div><a [hidden]="currentUser === undefined"
    [routerLink]="currentUser && [currentUser._id, 'groceries']" routerLinkActive="active"
          >groceries</a></div>
  <div><a  [hidden]="currentUser === undefined"
    [routerLink]="currentUser && [currentUser._id, 'create-grocery']" routerLinkActive="active"
         >Create New Grocery</a></div>
</nav>
<router-outlet></router-outlet>
