<h1>Grocery App</h1>
<button class="logout-btn btn" [hidden]="currentUser === undefined"
(click)="onClickLogout()">Log Out</button>
<!--<app-login class="login" [hidden]="currentUser !== undefined && currentUser !== null" [clickLogin]="onClickLogin"></app-login>-->
<!--<div class="create-grocery container" [hidden]="currentUser === undefined || currentUser === null">-->
<!--  <app-create-grocery class="create-grocery" [addGrocery]="addGrocery"></app-create-grocery>-->
<!--</div>-->
<!--<div class="grocery-list container" [hidden]="currentUser === undefined || currentUser === null">-->
<!--  <app-grocery-list [groceryList]="groceryList" [deleteGrocery]="deleteGrocery"></app-grocery-list>-->
<!--</div>-->
<nav>
<!--  <div><a routerLink="/login" routerLinkActive="active"-->
<!--          [hidden]="currentUser._id.length > 0">log in</a></div>-->
  <div><a routerLink="/groceries" routerLinkActive="active"
          [hidden]="currentUser === undefined">groceries</a></div>
  <div><a routerLink="/create-grocery" routerLinkActive="active"
          [hidden]="currentUser === undefined">Create New Grocery</a></div>
</nav>
<router-outlet></router-outlet>
