<div class="create-grocery-item container" [hidden]="cs.get('currentUser').length === 0">
  <h3>Create New Grocery</h3>
  <div class="create-grocery-name grocery-input row">
    <label class="create-grocery-name-label grocery-input-label col-2">Grocery Name: </label>
    <input class="create-grocery-name-input col-md" type="text" [ngModel]="groceryName" (change)="onChangeName($event)">
  </div>
  <div class="create-grocery-amount grocery-input row">
    <label class="create-grocery-name-label grocery-input-label col-2">Amount of Grocery: </label>
    <input class="create-grocery-name-input col-md" type="number" [ngModel]="groceryAmount"
           (change)="onChangeAmount($event)">
  </div>
  <div class="create-grocery-desc grocery-input row">
    <label class="create-grocery-name-label grocery-input-label col-2">Description of Grocery: </label>
    <input class="create-grocery-name-input col-md" type="text" [ngModel]="groceryDesc" (change)="onChangeDesc($event)">
  </div>
  <button class="btn create-grocery-btn grocery-input" (click)="onClickSave()">Add New Grocery</button>
</div>
